.version.language_help /* version checker */
{
	color: #00001B;
	background-color: #8091C7;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1080px;
	min-height: 1920px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u75
{
	z-index: 2;
	/*width: 902px;
	padding-top: 26px;
	padding-right: 178px;*/
	margin-right: -10000px;
}

#u252
{
	z-index: 20;
	width: 80px;
	margin-left: 68px;
}

#u182
{
	z-index: 14;
	width: 92px;
	height: 83px;
	margin-left: 62px;
	margin-top: 95px;
}

#u78
{
	z-index: 5;
	width: 92px;
	height: 83px;
	margin-left: 64px;
	margin-top: 62px;
}

#u269
{
	z-index: 23;
	width: 141px;
	height: 97px;
	margin-left: 35px;
	margin-top: 51px;
}

#u137
{
	z-index: 9;
	width: 118px;
	height: 83px;
	margin-left: 51px;
	margin-top: 68px;
}

#u258
{
	z-index: 22;
	width: 163px;
	height: 85px;
	margin-left: 26px;
	margin-top: 58px;
}

#u230
{
	z-index: 18;
	width: 129px;
	height: 82px;
	margin-left: 42px;
	margin-top: 64px;
}

#u91
{
	z-index: 6;
	width: 161px;
	height: 75px;
	margin-left: 28px;
	margin-top: 72px;
}

#u241
{
	z-index: 19;
	width: 105px;
	height: 87px;
	margin-left: 54px;
	margin-top: 59px;
}

#u195
{
	z-index: 15;
	width: 97px;
	height: 76px;
	margin-left: 57px;
	margin-top: 70px;
}

#u102
{
	z-index: 7;
	width: 113px;
	height: 79px;
	margin-left: 50px;
	margin-top: 70px;
}

#u113
{
	z-index: 8;
	width: 146px;
	height: 79px;
	margin-left: 34px;
	margin-top: 68px;
}

#u170
{
	z-index: 3;
	width: 902px;
	/*margin-top: 53px;*/
	margin-top: -120px;
}

#u124
{
	z-index: 10;
	width: 92px;
	height: 80px;
	margin-right: -10000px;
	margin-top: 1823px;
	left: 413px;
}

#u124.MuseLinkActive
{
	width: 92px;
	height: 80px;
	min-height: 0px;
	margin: 1823px -10000px 0px 0px;
}

#u148
{
	z-index: 11;
	width: 130px;
	height: 78px;
	margin-right: -10000px;
	margin-top: 1823px;
	left: 751px;
}

#u148.MuseLinkActive
{
	width: 130px;
	height: 78px;
	min-height: 0px;
	margin: 1823px -10000px 0px 0px;
}

#u176
{
	z-index: 12;
	/*
	width: 63px;
	margin-right: -10000px;
	margin-top: 1686px;*/

	margin-right: -10000px;
	margin-top: 1720px;
	margin-left: 550px;
}

#u208
{
	z-index: 16;
	width: 129px;
	height: 74px;
	margin-right: -10000px;
	margin-top: 1826px;
	left: 575px;
}

#u208.MuseLinkActive
{
	width: 129px;
	height: 74px;
	min-height: 0px;
	margin: 1826px -10000px 0px 0px;
}

#u219
{
	z-index: 17;
	width: 120px;
	height: 86px;
	margin-right: -10000px;
	margin-top: 1817px;
	left: 47px;
}

#u219.MuseLinkActive
{
	width: 120px;
	height: 86px;
	min-height: 0px;
	margin: 1817px -10000px 0px 0px;
}

#u280
{
	z-index: 24;
	width: 117px;
	height: 81px;
	margin-right: -10000px;
	margin-top: 1821px;
	left: 225px;
}

#u280.MuseLinkActive
{
	width: 117px;
	height: 81px;
	min-height: 0px;
	margin: 1821px -10000px 0px 0px;
}

#u507
{
	z-index: 25;
	width: 178px;
	height: 120px;
	margin-right: -10000px;
	margin-top: 1800px;
	left: 902px;
}

#u507.MuseLinkActive
{
	width: 178px;
	height: 120px;
	min-height: 0px;
	margin: 1800px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 1080px;
}

