.version.lightbox /* version checker */
{
	color: #000000;
	background-color: #62EDBD;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1080px;
	min-height: 1920px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u584
{
	z-index: 2;
	width: 1020px;
	margin-right: -10000px;
	padding: 26px 30px 35px;
}

#u612
{
	z-index: 3;
	width: 1020px;
	height: 920px;
}

#u613
{
	z-index: 4;
	width: 600px;
	height: 400px;
	margin-top: 99px;
}

#u627
{
	z-index: 5;
	width: 600px;
	height: 405px;
	margin-top: 35px;
}

#u626
{
	z-index: 6;
	width: 420px;
	margin-right: -10000px;
	margin-top: 1045px;
	left: 630px;
}

#u628
{
	z-index: 11;
	width: 420px;
	height: 155px;
	margin-right: -10000px;
	margin-top: 685px;
}

#u614
{
	z-index: 7;
	width: 700px;
	margin-right: -10000px;
	margin-top: 946px;
	left: 350px;
}

#u620
{
	z-index: 9;
	width: 317px;
	margin-right: -10000px;
	margin-top: -969px;
	left: 30px;
}

#u620_clip
{
	width: 317px;
	height: 99px;
}

#u620_img
{
	margin-bottom: -1px;
}

body
{
	position: relative;
	min-width: 1080px;
}

