#u75
{
	background-color: #00214E;
	position: relative;
}

#u252
{
	position: relative;
	background: transparent url("../images/kc_logo.png") no-repeat left top;
	background-size: contain;
}


#u182
{
	position: relative;
	background: transparent url("../images/gov_button-vector%20smart%20object.png") no-repeat left top;
	background-size: contain;
}

#u78
{
	position: relative;
	background: transparent url("../images/311_button-vector%20smart%20object.png") no-repeat left top;
	background-size: contain;
}

#u269
{
	position: relative;
	background: transparent url("../images/streetcar_button-vector%20smart%20object.png") no-repeat left top;
	background-size: contain;
}

#u137
{
	position: relative;
	background: transparent url("../images/chiefs_button-vector%20smart%20object.png") no-repeat left top;
	background-size: contain;
}

#u258
{
	position: relative;
	background: transparent url("../images/restaurant_button-vector%20smart%20object.png") no-repeat left top;
	background-size: contain;
}

#u230
{
	position: relative;
	background: transparent url("../images/nightlife_button-vector%20smart%20object.png") no-repeat left top;
	background-size: contain;
}

#u91
{
	position: relative;
	background: transparent url("../images/attractions_button-vector%20smart%20object.png") no-repeat left top;
	background-size: contain;
}

#u241
{
	position: relative;
	background: transparent url("../images/parks_button-vector%20smart%20object.png") no-repeat left top;
	background-size: contain;
}

#u195
{
	position: relative;
	background: transparent url("../images/kids_button-vector%20smart%20object.png") no-repeat left top;
	background-size: contain;
}

#u102
{
	position: relative;
	background: transparent url("../images/big_app_1_button-vector%20smart%20object.png") no-repeat left top;
	background-size: contain;
}

#u113
{
	position: relative;
	background: transparent url("../images/big_app_2_button-vector%20smart%20object.png") no-repeat left top;
	background-size: contain;
}

#u124
{
	position: relative;
	background: transparent url("../images/call_button-vector%20smart%20object.png") no-repeat left top;
	background-size: contain;
}

#u124.MuseLinkActive
{
	background: transparent url("../images/call_button-vector%20smart%20object%20copy.png") no-repeat left top;
	background-size: contain;
}

#u148
{
	position: relative;
	background: transparent url("../images/disability_button-vector%20smart%20object.png") no-repeat left top;
	background-size: contain;
}

#u148.MuseLinkActive
{
	background: transparent url("../images/disability_button-vector%20smart%20object%20copy.png") no-repeat left top;
	background-size: contain;
}

#u252,#u170,#u176
{
	background-color: transparent;
	position: relative;
}

#u208
{
	position: relative;
	background: transparent url("../images/language_button-vector%20smart%20object.png") no-repeat left top;
	background-size: contain;
}

#u208.MuseLinkActive
{
	background: transparent url("../images/language_button-vector%20smart%20object%20copy.png") no-repeat left top;
	background-size: contain;
}

#u219
{
	position: relative;
	background: transparent url("../images/map_button-vector%20smart%20object.png") no-repeat left top;
	background-size: contain;
}

#u219.MuseLinkActive
{
	background: transparent url("../images/map_button-vector%20smart%20object%20copy.png") no-repeat left top;
	background-size: contain;
}

#u280
{
	position: relative;
	background: transparent url("../images/voice_search_button-vector%20smart%20object.png") no-repeat left top;
	background-size: contain;
}

#u280.MuseLinkActive
{
	background: transparent url("../images/voice_search_button-vector%20smart%20object%20copy.png") no-repeat left top;
	background-size: contain;
}

#u507
{
	position: relative;
	background: transparent url("../images/emergency_button-vector%20smart%20object.jpg") no-repeat left top;
	background-size: contain;
}

#u507.MuseLinkActive
{
	background: transparent url("../images/emergency_button-vector%20smart%20object2.jpg") no-repeat left top;
	background-size: contain;
}

